# Игнорируемые файлы
/vendor/
/node_modules/
/.idea/
/.vscode/
/coverage/
composer.lock

.phpunit.result.cache
.env
docker-compose.override.yml
src/public/storage
src/storage/framework/*
!src/storage/framework/.gitkeep
